<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" >
        <strong>Valor</strong>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <strong>Preço:</strong>
            <input class="form-control form-control-sm">
          </div>
          <div class="col-md-4">
            <strong>Ad/Valores</strong>
            <input class="form-control form-control-sm">
          </div>
          <div class="col-md-4">
            <strong>Pernoite (Custódia)</strong>
            <input class="form-control form-control-sm">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Adicional Permanência</strong>
      </div>
      <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <strong>Franquia:</strong>
              <input class="form-control form-control-sm">
            </div>
            <div class="col-md-4">
              <strong>Valor:</strong>
              <input class="form-control form-control-sm">
            </div>
            <div class="col-md-4">
              <strong>Intervalo de Minutos:</strong>
              <input class="form-control form-control-sm">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Adicional Noturno</strong>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <strong>Hora:</strong>
            <input class="form-control form-control-sm">
          </div>
          <div class="col-md-4">
            <strong>%:</strong>
            <input class="form-control form-control-sm">
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Franquias - Regras</strong>
      </div>
      <div class="card-body">
          <a routerLink="/service-registration"><em class="ti-layout-media-overlay"></em></a> Adicionar / Consultar
      </div>
    </div>
  </div>
</div>
