<div class="modal-header">
  <h4 class="modal-title pull-left">Memorando</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Memorando / Lembrete</strong>
        </div>
        <div class="card-body">
          <div class="input-group mb-3">
            <input type="text" class="form-control form-control-sm" placeholder="Memorando / Lembrete" aria-label="Memorando / Lembrete" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-sm btn-outline-secondary" type="button"><em class="ti-check-box"></em></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
